* {
    margin:0;
    padding:0;
}

/* Use a background to make the app look more 'weathery' */
body {
    font-family: 'Poiret One', cursive;
    background:url('https://images.unsplash.com/photo-1599756702768-208d02ad2e79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80');
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;

}

.container {
    padding: 10px 50px;
    color:aliceblue
}

.city-list {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.add-btn {
    padding: 5px;
}

.current-day-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.place-container {
    font-size: 50px;
}

.lat-container {
    font-size: 20px;
}

.lon-container {
    font-size: 20px;
}

.date-container {
    text-align:end;
    padding: 20px;
}

.date-container .time {
    font-size: 50px;    
}

.date-container #am-pm {
    font-size: 20px;
    margin-left: 30px;
}

.date-container .date {
    font-size: 20px;
    padding: 10px;
}

.misc {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(26, 26, 26, 0.3);
    border-radius: 10px;
}

.misc .weather-misc {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.btn, .input {
    border: 1px whitesmoke solid;
    font-size: 1rem;
    padding: 10px;
    background: none;
    outline: none;
    color: aliceblue;
    border-radius: 5px;
}

.btn {
    letter-spacing: 0.1em;
    padding: 10px 10px;
    margin-left: 5px;
}

.btn:hover {
    border-color: cyan;
    color: cyan;
}

.good-uv {
    color: rgba(65, 247, 126, 0.9);
}

.med-uv {
    color: rgb(253, 249, 11, 0.9)
}

.bad-uv {
    color: rgb(255, 5, 5, 0.9);
}


.forecast {
    color:aliceblue;
    background: rgba(26,26,26,0.5);
    display:flex;
    align-items: center;
    justify-content:center;
    width: 100vw;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.forecast .today {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 5px;
    border: 1px solid white;
    border-radius: 5px;
    height: 100%;
    width: 150px;
}

.forecast .today .day {
    font-size: 25px;
    padding: 5px 5px;
    margin-bottom: 15px;
    background: rgba(26, 26, 26, 0.7);
    border-radius: 10px;
}

.forecast .today .temp {
    font-size: 25px;
    padding: 10px 10px;
}

.forecast .weather-forecast {
    display:flex;
}

.weather-forecast .weather-forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    margin: 5px 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 120px;
}

.weather-forecast .weather-forecast-card .forecast-when {
    background: rgba(26, 26, 26, 0.7);
    padding: 5px 5px;
    border-radius: 10px;
    text-align:center;
}


/* At smaller screen sizes, the weather 5 day forecast at the bottom of screen scrolls and the today and city info neatly display in center */
@media screen and (max-width:850px) {

    .forecast {
        justify-content: start;
        align-items: none;
        overflow-y:scroll;
    }

    .place-container {
        text-align:start;
        font-size: 25px;
    }

    .lat-container {
        font-size: 15px;
    }
    
    .lon-container {
        font-size: 15px;
    }

    .date-container{
        text-align: end;
    }

    .date-container .time {
        font-size: 25px;    
    }
    
    .date-container #am-pm {
        font-size: 15px;
        margin-left: 15px;
    }
    
    .date-container .date {
        font-size: 15px;
        padding: 5px;
    }

    .misc {
        font-size: 15px;
    }

    .forecast .today .temp {
        font-size: 15px;
        padding: 5px 5px;
    }

    .btn, .input {
        border: 1px whitesmoke solid;
        font-size: 0.8rem;
        padding: 5px;
        background: none;
        outline: none;
        color: aliceblue;
        border-radius: 5px;
    }
    
    .btn {
        letter-spacing: 0.1em;
        padding: 5px 5px;
        margin-left: 5px;
    }
    

}